@model SWD.DataAccess.ViewModel.PersonalForm

@{
    ViewBag.Title = "Dane osobiste";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Krok pierwszy - powiedz nam coś o sobie</h2>
            <p class="lead">Abyśmy mogli lepiej Ci doradzić :)</p>
            @using(Html.BeginForm("FirstStep", "Main", FormMethod.Post, new {@class = "form-horizontal", id = "firstStepForm"}))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Age, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Age)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Sex, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.Sex, EnumHelper.GetSelectList(typeof(SWD.Models.sex)), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Sex)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" id="submitFirstStep" class="btn btn-dark btn-lg" value="Dalej">
                </div>
            }
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<script>
    $('#firstStepForm').on("submit", function () {
        // submit the form 
        $(this).ajaxSubmit(function (data) {
            if (data.status == "Ok") {
                goToStepHtml("#secondStep", data.view);
            } else {
                alert("proszę poprawić błędy formularza");
                $("#firstStep").html("");
                $("#firstStep").html(data.view);
            }
        
        });
        return false;
    });
</script>

