@model SWD.Models.QuestionForm

@{
    ViewBag.Title = "Preferencje";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
    <h2>Krok drugi</h2>
    <p class="lead">Teraz zdefiniuj swoje preferencje</p>

    @using (Html.BeginForm("SecondStep", "Main", FormMethod.Post, new { @class = "form-horizontal", id = "secondStepForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveHoliday, new { @class = "col-sm-8 control-label" })
                    <div class="col-sm-4">
                        @Html.CheckBoxFor(model => model.ActiveHoliday, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ActiveHoliday)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Vaccination, new { @class = "col-sm-8 control-label" })
                    <div class="col-sm-4">
                        @Html.CheckBoxFor(model => model.Vaccination, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Vaccination)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Interests, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.ListBoxFor(model => model.Interests, new MultiSelectList(Model.AvailableInterests), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Interests)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Preferences, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.ListBoxFor(model => model.Preferences, new MultiSelectList(Model.AvailablePreferences), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Preferences)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="submit" id="submitSecondStep" class="btn btn-dark btn-lg" value="Dalej">
        </div>
    }

    </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<script>
    $('#secondStepForm').on("submit", function () {
        // submit the form
        $(this).ajaxSubmit(function (data) {
            if (data.status == "Ok") {
                console.log(data.view);
                goToStepHtml("#thirdStep", data.view);
            } else {
                alert("proszę poprawić błędy formularza");
                $("#secondStep").html("");
                $("#secondStep").html(data.view);
            }

        });
        return false;
    });
</script>
